body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    width: 120px;
    margin-bottom: -5px;
    margin-right: 100px;
    margin-top: 30px;
    margin-left: 10px;
}

header {
    text-align: center;
}

.headerdiv, 
.logo, 
.menu {
    display: inline-block;
}

.menu {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10px;
}

.menulink:active {
    border-bottom: 2px solid #8783a5;
    border-width: 2px;
    border-radius: 3px;
}

.menulink:hover {
    border-bottom: 2px solid #8783a5;
    border-width: 2px;
    border-radius: 3px;
}

.menulink {
    text-decoration: none;
    color: #21286b;
    font-family: sans-serif;
    font-weight: 600;
    padding-bottom: 5px;
}

.herosection {
    position: relative;
    max-width: 100%;
    padding: 60px;
    margin: 0 auto;
}

.herosection::before {
    content: "";
    background-image: url(Portfolio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 31, 136, 0.822);
    z-index: 0;
}

.content {
    position: relative;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    z-index: 1;
    padding: 25px;
}
.hero1 {
    font-size: 45px;
}
.hero2 {
    font-size: 20px;
    margin-top: -15px;
    color: white;
    font-weight: lighter;
}

.button1 {
    font-size: 22px;
    color: rgb(9, 33, 143);
    font-weight: 600;
    text-align: center;
    padding: 12px;
    width: 150px;
    background-color: #ffffff;
    border: 3px solid #091d74;
    box-shadow: 0 0 20px 2px rgba(15, 7, 65, 0.733);
    margin-top: 20px;
    border-radius: 20px;
}

.button1:hover {
    color: white;
    background-color: black;
    border-color: #ffffff;
}

h1 {
    font-size: 25px;
}
h1, h2, h3, p, ul, form {
    font-family: sans-serif, 'Lucida Sans Regular'
}

h2, h3, h4, p {
    color: #040b33;
}

.services {
    text-align: center;
}

.serv-title {
    color: #06063f;
    font-weight: 500;
    font-size: 1.3em;
    font-family: sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.serv {
    display: inline-block;
    margin: 10px;
    font-family: sans-serif;
    font-weight: 700;
    background-color: #0a0a4e;
    padding: 30px;
    color:#ffffff;
    border-radius: 20px;
    border: 3px solid white;
    box-shadow: 0 0 15px 0 rgba(15, 7, 65, 0.733);
}

.serv:hover {
    background-color: #ffffff;
    color: blue;
}

.sec1, .sec2, .sec3, .sec4 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.sec1 {
    margin-top: 100px;
}

.sec2, .sec4 {
    box-shadow: 0 4px 80px 0 grey;
    padding: 30px 0;
}

.div1, .div2, .div3, .div4 {
    display: inline-block;
    margin: 0 auto;
}

.class1 {
    width: 430px;
    padding-bottom: 10px;
    margin: 0;
    padding: 0;
}
.imgserv {
    width: 350px;
    border-radius: 20px;
}

.class2 {
    width: 300px;
    text-align: left;
    vertical-align: 4em;
    border-bottom: 3px solid #5059b8;
    
}

.txt {
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 1.1em;
}

.project {
    background-color: #091d74;
    width: 100%;
    height: 300px;
    text-align: center;
}

.projtext {
    color: white;
    font-family: sans-serif;
    font-size: 2.5em;
    padding-top: 80px;
}

.projbutton {
    color: #ffffff;
    background-color: #ff0000;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border: 2px solid red;
    border-radius: 100px;
    box-shadow: 0 0 20px rgba(133, 108, 108, 0.836);
}

.projbutton:hover {
    background-color: #ffffff;
    color: #091d74;
    font-weight: 600;
    border: 2px dotted #736c9c;
    border-radius: 100px;
}

.projbuttext {
    color: unset;
    text-decoration: unset;
}